
  @import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@300&display=swap');


.App {
  
  /* display: flex; */
  justify-content: space-between;

  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav{
  font-family: poppins;
  justify-content: flex-end;
  
  display: flex;
  
  column-gap: 20px;
  color: white;
  text-align: right;
  height: 50px;
  background-color: #aa40f5;
}
.nav h3{
  padding-right: 20px;
  align-content: flex-end;
}

.displayLabel{

  
  width: 150px;
  height: 100px;
  display: grid;
  grid-template-rows: 1fr;
  margin: 10px auto;
  font-size: 25px;
  background-color: #edddf8;
  border-radius: 7px;

}

.myButtons{
  padding: 20px;
  
}